* {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
    
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(2, 59, 135);
    

}

.container {
   max-width: 1200px ; 
   margin: 0 auto;
   padding: 0 20px;



}

.navbar {
    background-color: azure;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;


}


.nav_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}

.logo {

    color: #3b82f6;
    font-size: 24px;
    
    
}

.nav_menu {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav_menu  a  {
    text-decoration: none;
    color: rgb(206, 216, 117);
    font-weight: 500;
}

.nav_menu a:hover {

    color: rgb(215, 145, 124);
    
}

.cart_link {
    background-color: #79a0df;
    color: aliceblue;
    padding: 8p 16px;
    border-radius: 20px;
    font-size: 14px;
    
}

.cart_link:hover {
    background-color: #3b82f6 ;
}

.hero {
    background: linear-gradient(135deg,  #3b82f6,  #1d4c4e);
    color: antiquewhite;
    text-align: center;
    padding: 150px 10px 100px;
    margin-top: 70px;
    height: 90px 20px;
}


.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

.button {

    display: inline-block;
    background-color: aliceblue;
    color: rgb(0, 115, 255);
    padding: 12px 30px;
    text-decoration: none ;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: aliceblue;
    transform: translateY(-2px);
}



